

.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 15px;
}

button {
    min-width: 75px;
    padding: 5px;
}

.scores {
    display: flex;
    justify-content: center;
    gap: 50px;
    text-align: center;
    min-height: 100px;
}

.outcome {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80px;
}

.scoreBox p {
    margin-bottom: 0;    
}

.scoreBox {
    min-height: 50px;
}

.playAgain {
    display: flex;
    justify-content: center;
}